# Rank and Partition

Bu challenge'Ä±n amacÄ±, `RANK` veya `SUM` gibi Window Functions kullanmaktÄ±r (bkz. [Window Functions](https://mode.com/sql-tutorial/sql-window-functions/)) ve bunlarÄ± `OVER` keyword'Ã¼ ile uygulamaktÄ±r.

`OVER` clause ÅŸu ÅŸekilde kullanÄ±labilir:
- SatÄ±rlarÄ±n kapsamÄ±nÄ± seÃ§mek iÃ§in `PARTITION BY`
- Window function'Ä±n uygulanacaÄŸÄ± satÄ±rlarÄ±n sÄ±ralamasÄ±nÄ± belirlemek iÃ§in `ORDER BY`

## Data
Bu URL'de bulunan `ecommerce.sqlite` database ile Ã§alÄ±ÅŸacaÄŸÄ±z:
`https://wagon-public-datasets.s3.amazonaws.com/sql_databases/ecommerce.sqlite`

DosyayÄ± indirmek iÃ§in aÅŸaÄŸÄ±daki hÃ¼creyi Ã§alÄ±ÅŸtÄ±rÄ±n:

In [1]:
!curl https://wagon-public-datasets.s3.amazonaws.com/sql_databases/ecommerce.sqlite > data/ecommerce.sqlite

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  9216  100  9216    0     0  10388      0 --:--:-- --:--:-- --:--:-- 10378

## Database Discovery

Bu database'i daha Ã¶nce keÅŸfettiniz. Database'i indirdikten sonra, VS Code SQLite extension'Ä±nÄ± kullanarak tekrar inceleyebileceÄŸinizi unutmayÄ±n.

- `Ctrl-Shift-P` veya `Cmd-Shift-P` tuÅŸlarÄ±na basÄ±n
- `SQLite: Open Database` gÃ¶rÃ¼nene kadar yazmaya baÅŸlayÄ±n
- `Enter`
- AÃ§Ä±lan listeden database dosyasÄ±nÄ± seÃ§in
- Sol alt kÃ¶ÅŸede `SQLITE EXPLORER` butonuna tÄ±klayÄ±n

## Setup

Pandas ve sqlite3 ihtiyacÄ±mÄ±z olan her ÅŸey :-)

In [7]:
import pandas as pd
from sqlite3 import connect

In [8]:
tables = pd.read_sql("""
SELECT name 
FROM sqlite_master 
WHERE type='table';
""", conn)

tables

           name
0     Customers
1      Shippers
2     Employees
3        Orders
4  OrderDetails

In [9]:
pd.read_sql("SELECT * FROM orders LIMIT 5", conn)

,OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,ShipVia,FreightCharge
0,1,1,1,2012-01-04,2012-01-09,2012-01-05,1,3.75
1,2,2,2,2012-01-27,2012-02-01,2012-01-28,1,7.25
2,3,4,1,2012-02-19,2012-02-24,2012-02-23,2,5.50
3,4,2,4,2012-03-13,2012-03-18,2012-03-14,2,13.50
4,5,4,2,2012-04-05,2012-04-10,2012-04-06,3,8.75

In [11]:
pd.read_sql("SELECT * FROM orderdetails LIMIT 5", conn)

   OrderDetailID  OrderID  ProductID  UnitPrice  Quantity
0              1        1          1       1.10        30
1              2        1          2       0.25        60
2              3        2          3       5.00        80
3              4        2          4       1.39       110
4              5        2          5       9.97       140

## Order rank per customer

ðŸ‘‰ Her mÃ¼ÅŸteri iÃ§in order date'e gÃ¶re orders kayÄ±tlarÄ±nÄ± sÄ±ralayan bir SQL Query yazÄ±n.

Her mÃ¼ÅŸteri iÃ§in orders kronolojik olarak sÄ±ralanmalÄ±dÄ±r. `OrderID`, `CustomerID`, `OrderDate`, `OrderRank` dÃ¶ndÃ¼rÃ¼n.

In [3]:
# Her mÃ¼ÅŸterinin sipariÅŸlerini sipariÅŸ tarihine gÃ¶re sÄ±ralayÄ±n.
# Her mÃ¼ÅŸteri iÃ§in sipariÅŸler kronolojik sÄ±rayla sÄ±ralanmalÄ±dÄ±r.
# `OrderID`, `CustomerID`, `OrderDate`, `OrderRank` deÄŸerlerini return edin.
query_order_rank_per_customer = """


     SELECT OrderID, CustomerID, OrderDate, RANK() OVER( PARTITION BY CustomerID Order by OrderDate) as OrderRank FROM Orders
"""

In [4]:
with connect('data/ecommerce.sqlite') as conn:
    df = pd.read_sql(
        query_order_rank_per_customer,
        con=conn
    )
df.head()

   OrderID  CustomerID   OrderDate  OrderRank
0        1           1  2012-01-04          1
1        8           1  2012-06-13          2
2       12           1  2012-09-13          3
3        2           2  2012-01-27          1
4        4           2  2012-03-13          2

SonuÃ§ beklediÄŸiniz gibi gÃ¶rÃ¼ndÃ¼ÄŸÃ¼nde, sorgunuzu denemek ve test etmek iÃ§in aÅŸaÄŸÄ±daki hÃ¼creleri Ã§alÄ±ÅŸtÄ±rÄ±n.

In [5]:
from nbresult import ChallengeResult
result = ChallengeResult(
    'order_rank_per_customer',
    query=query_order_rank_per_customer
)
result.write(); print(result.check())

============================= test session starts ==============================
platform darwin -- Python 3.12.9, pytest-8.3.4, pluggy-1.5.0 -- /Users/senemyilmaz/.pyenv/versions/workintech/bin/python
cachedir: .pytest_cache
rootdir: /Users/senemyilmaz/data-rank-and-partition/tests
plugins: anyio-4.8.0, typeguard-4.4.2
collecting ... collected 1 item

test_order_rank_per_customer.py::TestOrderRankPerCustomer::test_order_rank_per_customer PASSED [100%]

============================== 1 passed in 0.01s ===============================


ðŸ’¯ You can commit your code:

git add tests/order_rank_per_customer.pickle

git commit -m 'Completed order_rank_per_customer step'

git push origin master

## Order cumulative amount per customer

ðŸ‘‰ Her mÃ¼ÅŸteri iÃ§in order dateâ€™e gÃ¶re orders kayÄ±tlarÄ±nÄ±n kÃ¼mÃ¼latif amount (USD cinsinden) deÄŸerini hesaplayan bir SQL Query yazÄ±n.

Her mÃ¼ÅŸteri iÃ§in orders kronolojik olarak sÄ±ralanmalÄ±dÄ±r. `OrderID`, `CustomerID`, `OrderDate`, `OrderCumulativeAmount` dÃ¶ndÃ¼rÃ¼n.

In [26]:
# SipariÅŸ tarihine gÃ¶re her mÃ¼ÅŸterinin sipariÅŸlerinin toplam tutarÄ±nÄ± (USD cinsinden) dÃ¶ndÃ¼rÃ¼n.
# Her mÃ¼ÅŸteri iÃ§in sipariÅŸler kronolojik sÄ±rayla sÄ±ralanmalÄ±dÄ±r.
# `OrderID`, `CustomerID`, `OrderDate`, `OrderCumulativeAmount` deÄŸerlerini return edin.
query_order_cumulative_amount_per_customer = """
     SELECT o.OrderID, o.CustomerID, o.OrderDate, SUM(SUM(od.Quantity * od.UnitPrice)) 
     OVER ( PARTITION BY o.CustomerID ORDER BY o.OrderDate) as OrderCumulativeAmount 
     FROM Orders as o 
     JOIN OrderDetails as od ON o.OrderID = od.OrderID GROUP BY o.OrderID ORDER BY o.CustomerID
"""

In [22]:
query_order_cumulative_amount_per_customer = """
    SELECT
        Orders.OrderID,
        Orders.CustomerID,
        Orders.OrderDate,
        SUM(SUM(OrderDetails.UnitPrice * OrderDetails.Quantity)) OVER (
            PARTITION BY Orders.CustomerID
            ORDER BY Orders.OrderDate
        ) AS OrderCumulativeAmount
    FROM Orders
    JOIN OrderDetails ON Orders.OrderID = OrderDetails.OrderID
    GROUP BY Orders.OrderID
    ORDER BY Orders.CustomerID
"""

In [27]:
with connect('data/ecommerce.sqlite') as conn:
    df = pd.read_sql(
        query_order_cumulative_amount_per_customer,
        con=conn
    )
df.head()

   OrderID  CustomerID   OrderDate  OrderCumulativeAmount
0        1           1  2012-01-04                   48.0
1        8           1  2012-06-13                 1989.7
2       12           1  2012-09-13                 2021.7
3        2           2  2012-01-27                 1948.7
4        4           2  2012-03-13                 2348.7

SonuÃ§ beklediÄŸiniz gibi gÃ¶rÃ¼ndÃ¼ÄŸÃ¼nde, sorgunuzu denemek ve test etmek iÃ§in aÅŸaÄŸÄ±daki hÃ¼creleri Ã§alÄ±ÅŸtÄ±rÄ±n.

In [28]:
from nbresult import ChallengeResult
result = ChallengeResult(
    'order_cumulative_amount_per_customer',
    query=query_order_cumulative_amount_per_customer
)
result.write(); print(result.check())

============================= test session starts ==============================
platform darwin -- Python 3.12.9, pytest-8.3.4, pluggy-1.5.0 -- /Users/senemyilmaz/.pyenv/versions/workintech/bin/python
cachedir: .pytest_cache
rootdir: /Users/senemyilmaz/data-rank-and-partition/tests
plugins: anyio-4.8.0, typeguard-4.4.2
collecting ... collected 1 item

test_order_cumulative_amount_per_customer.py::TestOrderCumulativeAmountPerCustomer::test_order_cumulative_amount_per_customer PASSED [100%]

============================== 1 passed in 0.02s ===============================


ðŸ’¯ You can commit your code:

git add tests/order_cumulative_amount_per_customer.pickle

git commit -m 'Completed order_cumulative_amount_per_customer step'

git push origin master

## Key learning points

- Window functions, satÄ±rlarÄ± **aggregate etmeden** farklÄ± satÄ±rlardaki verileri hesaplamanÄ±za olanak tanÄ±r.
- SatÄ±rlarÄ± aggregate etmek istiyorsanÄ±z `GROUP BY` kullanÄ±n.
- EÄŸer aggregate etmek istemiyorsanÄ±z, bunun yerine `OVER` ile `PARTITION BY` ve `ORDER BY` kullanÄ±n.